@font-face {
  font-family: 'textilpflege';
  src:  url('fonts/textilpflege.eot?dtgfw3');
  src:  url('fonts/textilpflege.eot?dtgfw3#iefix') format('embedded-opentype'),
    url('fonts/textilpflege.ttf?dtgfw3') format('truetype'),
    url('fonts/textilpflege.woff?dtgfw3') format('woff'),
    url('fonts/textilpflege.svg?dtgfw3#textilpflege') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="t_icon-"], [class*=" t_icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'textilpflege' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t_icon-waschen:before {
  content: "\e900";
}
.t_icon-nicht_waschen:before {
  content: "\e901";
}
.t_icon-handwaesche:before {
  content: "\e902";
}
.t_icon-waschen_30ss:before {
  content: "\e907";
}
.t_icon-waschen_30s:before {
  content: "\e908";
}
.t_icon-waschen_30:before {
  content: "\e909";
}
.t_icon-waschen_40ss:before {
  content: "\e90a";
}
.t_icon-waschen_40s:before {
  content: "\e90b";
}
.t_icon-waschen_40:before {
  content: "\e90c";
}
.t_icon-waschen_50s:before {
  content: "\e90d";
}
.t_icon-waschen_50:before {
  content: "\e90e";
}
.t_icon-waschen_60s:before {
  content: "\e90f";
}
.t_icon-waschen_60:before {
  content: "\e910";
}
.t_icon-waschen_70s:before {
  content: "\e911";
}
.t_icon-waschen_70:before {
  content: "\e912";
}
.t_icon-waschen_95s:before {
  content: "\e913";
}
.t_icon-waschen_95:before {
  content: "\e914";
}
.t_icon-bleichen:before {
  content: "\e915";
}
.t_icon-nicht_bleichen:before {
  content: "\e903";
}
.t_icon-sauerstoffbleichen:before {
  content: "\e917";
}
.t_icon-trommeltrocknen:before {
  content: "\e918";
}
.t_icon-nicht_trommeltrocknen:before {
  content: "\e919";
}
.t_icon-trommeltrocknen_1:before {
  content: "\e905";
}
.t_icon-trommeltrocknen_2:before {
  content: "\e91e";
}
.t_icon-buegeln:before {
  content: "\e91f";
}
.t_icon-nicht_buegeln:before {
  content: "\e920";
}
.t_icon-buegeln_1:before {
  content: "\e921";
}
.t_icon-buegeln_2:before {
  content: "\e922";
}
.t_icon-buegeln_3:before {
  content: "\e923";
}
.t_icon-professionelle_reinigung:before {
  content: "\e924";
}
.t_icon-nicht_chemisch_reinigen:before {
  content: "\e925";
}
.t_icon-professionelle_reinigung_fs:before {
  content: "\e926";
}
.t_icon-professionelle_reinigung_f:before {
  content: "\e927";
}
.t_icon-professionelle_reinigung_pss:before {
  content: "\e928";
}
.t_icon-professionelle_reinigung_ps:before {
  content: "\e929";
}
.t_icon-Professionelle_reinigung_p:before {
  content: "\e92a";
}
.t_icon-nicht_nassreinigen:before {
  content: "\e904";
}
.t_icon-professionelle_reinigung_wss:before {
  content: "\e92c";
}
.t_icon-professionelle_reinigung_ws:before {
  content: "\e92d";
}
.t_icon-professionelle_reinigung_w:before {
  content: "\e92e";
}
.t_icon-trocknen:before {
  content: "\e92f";
}
.t_icon-trocknen_liegend_im_schatten:before {
  content: "\e930";
}
.t_icon-trocknen_liegend:before {
  content: "\e931";
}
.t_icon-trocknen_tropfnass_im_schatten:before {
  content: "\e932";
}
.t_icon-trocknen_tropfnass:before {
  content: "\e933";
}
.t_icon-trocknen_leine_im_schatten:before {
  content: "\e934";
}
.t_icon-trocknen_leine:before {
  content: "\e935";
}
.t_icon-trocknen_schatten:before {
  content: "\e936";
}

