$icomoon-font-path: "fonts" !default;

$t_icon-waschen: "\e900";
$t_icon-nicht_waschen: "\e901";
$t_icon-handwaesche: "\e902";
$t_icon-waschen_30ss: "\e907";
$t_icon-waschen_30s: "\e908";
$t_icon-waschen_30: "\e909";
$t_icon-waschen_40ss: "\e90a";
$t_icon-waschen_40s: "\e90b";
$t_icon-waschen_40: "\e90c";
$t_icon-waschen_50s: "\e90d";
$t_icon-waschen_50: "\e90e";
$t_icon-waschen_60s: "\e90f";
$t_icon-waschen_60: "\e910";
$t_icon-waschen_70s: "\e911";
$t_icon-waschen_70: "\e912";
$t_icon-waschen_95s: "\e913";
$t_icon-waschen_95: "\e914";
$t_icon-bleichen: "\e915";
$t_icon-nicht_bleichen: "\e903";
$t_icon-sauerstoffbleichen: "\e917";
$t_icon-trommeltrocknen: "\e918";
$t_icon-nicht_trommeltrocknen: "\e919";
$t_icon-trommeltrocknen_1: "\e905";
$t_icon-trommeltrocknen_2: "\e91e";
$t_icon-buegeln: "\e91f";
$t_icon-nicht_buegeln: "\e920";
$t_icon-buegeln_1: "\e921";
$t_icon-buegeln_2: "\e922";
$t_icon-buegeln_3: "\e923";
$t_icon-professionelle_reinigung: "\e924";
$t_icon-nicht_chemisch_reinigen: "\e925";
$t_icon-professionelle_reinigung_fs: "\e926";
$t_icon-professionelle_reinigung_f: "\e927";
$t_icon-professionelle_reinigung_pss: "\e928";
$t_icon-professionelle_reinigung_ps: "\e929";
$t_icon-Professionelle_reinigung_p: "\e92a";
$t_icon-nicht_nassreinigen: "\e904";
$t_icon-professionelle_reinigung_wss: "\e92c";
$t_icon-professionelle_reinigung_ws: "\e92d";
$t_icon-professionelle_reinigung_w: "\e92e";
$t_icon-trocknen: "\e92f";
$t_icon-trocknen_liegend_im_schatten: "\e930";
$t_icon-trocknen_liegend: "\e931";
$t_icon-trocknen_tropfnass_im_schatten: "\e932";
$t_icon-trocknen_tropfnass: "\e933";
$t_icon-trocknen_leine_im_schatten: "\e934";
$t_icon-trocknen_leine: "\e935";
$t_icon-trocknen_schatten: "\e936";

